.photo-cards {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse wrap-reverse;
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 1023px) {
  .photo-cards {
    padding: 66px 19px 0;
  }
}

@media screen and (max-width: 740px) {
  .photo-cards {
    padding-top: 36px;
  }
}
