.photo-cards {
  max-width: 880px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse wrap-reverse;
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 1023px) {
  .photo-cards {
    padding-top: 66px;
  }
}

@media screen and (max-width: 933px) {
  .photo-cards {
    max-width: 581px;
  }
}

@media screen and (max-width: 635px) {
  .photo-cards {
    max-width: 282px;
  }
}

@media screen and (max-width: 740px) {
  .photo-cards {
    padding-top: 36px;
  }
}
